// Red Theme
// ---|primary-color: #ff4b2b;
// ---|secondary-color: #ff445c;

// Blue Theme
$color-brand-primary: #3ab0ff;
$color-brand-secondary: #3cceff;

$color-white-primary: #fff;
$color-white-secondary: #f6f5f7;
$color-white-tertiary: #eee;

$color-grey-primary: #ddd;











$bs-sidebar-bg: #2e2e2e;
$bs-sidebar-menu-item-color: #878a92;
$bs-sidebar-sub-bg: #fff;
$bs-heading-color: #495057;
$bs-light-rgb: 246, 246, 249;
$bs-secondary-bg: #fff;
$bs-secondary-color: rgba(73, 80, 87, .75);
$bs-body-bg: #f2f2f2;
$bs-footer-bg: hsla(0, 0%, 100%, .05);
$bs-border-color: #eaeaf1;
$--bs-border-radius: .25rem;
$bs-border-radius-sm: .2rem;
$bs-border-radius-lg: .4rem;
$bs-border-radius-xl: 1rem;
$bs-border-radius-xxl: 2rem;
$bs-border-radius-2xl: $bs-border-radius-xxl;
$bs-input-bg: #fff;
$bs-chat-primary-bg: #fff;